<div class="max-w-4xl mx-auto py-8">
    
    <span class="text-sm text-center block tracking-tight uppercase text-gray-500">Síguenos en canales sociales</span>

    <div class="flex flex-wrap justify-center items-center mt-4">

            <a href="https://mastodon.online/@24h24l">
             {% image "images/mastodon.svg", "Mastodon 24H24L", "w-10 mx-6" %}
            </a>
             <a href="https://twitter.com/24H24L1">
             {% image "images/twitter.svg", "Twitter 24H24L", "w-10 mx-6" %}
             
            <a href="https://www.youtube.com/channel/UCxUKfsev_8aJEQHFKVMk0Kw">
             {% image "images/youtube.svg", "Canal de YouTube 24H24L", "w-10 mx-6" %}
            </a>
            <a href="https://t.me/evento24h24l">
             {% image "images/telegram.svg", "24H24L en Telegram ", "w-10 mx-6" %}
            </a>
    </div>


      <div class="flex flex-wrap justify-center items-center mt-10">

            <ul class="flex text-sm">
            <li><a href="/contacto" class="mx-2 text-primary underline hover:text-gray-500">Contacto</a></li>
            <li><a href="https://24h24l.org" class="mx-2 text-primary underline hover:text-gray-500">Edición 24H24L 2020</a></li>
            <li><a href="/creditos" class="mx-2 text-primary underline hover:text-gray-500">Créditos</a></li>

            </ul>
      </div>

</div>