---
title: Contacta con el evento online 24H24L
ogtype: website
---

{% extends 'base.njk' %}

{% block content %}




<div class="max-w-xl mx-auto my-8">
    <span class="text-base text-center block tracking-tight uppercase text-gray-500">11 y 12 diciembre 2021</span>
    <h1 class="text-primary font-bold text-2xl sm:text-3xl tracking-tight leading-none text-center">Programación de las charlas 24H24L edición programación</h1>

</div>

{% include "patrocinadores.njk" %}

{% endblock %}



