---
title: Participantes del evento 24H24L 11 y 12 diciembre 2021
ogtype: website
prefix: /24h24l-web
---

{% extends 'base.njk' %}

{% block content %}




<div class="max-w-xl mx-auto my-8">
    <span class="text-base text-center block tracking-tight uppercase text-gray-500">Participantes 24H24L</span>
    <h1 class="text-primary font-bold text-2xl sm:text-3xl tracking-tight leading-none sm:leading-none text-center">Un evento en línea abierto con la participación de divulgadores del software libre</h1>

</div>

<div class="max-w-4xl mx-auto mt-6 mb-10 px-2">

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-7 justify-center my-12">
        
      
        {% for participante in participantes %}

                <div class="text-gray-500"  data-sal="slide-up" style="--sal-duration: 0.7s;">
                <img src="{{ prefix }}/images/{{participante.pic}}" alt="Participante 24H24L {{ participante.nombre}}"  class="w-40 h-40 rounded-full mx-auto filter-grayscale" />
                <h2 class="text-primary mt-6 font-bold tracking-tight text-xl leading-none">{{ participante.nombre }}</h2>
                <p class="mt-2 leading-none text-sm">{{participante.bio}}</p>
                <p><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline mr-1 -mt-1 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z" clip-rule="evenodd" />
                </svg><a href="{{ participante.web }}" class="text-primary text-sm">{{ participante.web }}</a></p>
                </div>
     
        {% endfor%}
    </div>
</div>

{% include "patrocinadores.njk" %}

{% endblock %}



