---
title: Patrocinadores del evento 24H24L Edición programación
ogtype: website
prefix: /24h24l-web
---

{% extends 'base.njk' %}

{% block content %}




<div class="max-w-xl mx-auto my-8">
    <span class="text-base text-center block tracking-tight uppercase text-gray-500">Patrocinadores 24H24L</span>
    <h1 class="text-primary font-bold text-2xl sm:text-3xl tracking-tight leading-none text-center">Empresas y profesionales comprometidos con el software libre</h1>

</div>

<div class="max-w-5xl mx-auto mt-6 mb-10 px-2">
 
 <div class="grid grid-cols-1 sm:grid-cols-2 gap-7 justify-center my-12">

        {% for patrocinador in patrocinadores %}
            
            <div class="mb-6 rounded-lg border-2 border-gray-200 shadow-xl bg-lines" data-sal="slide-up" style="--sal-duration: 0.7s;">

                <div class="flex flex-col h-60 items-center justify-center">

                    {% for website in patrocinador.web %}
                    <div>
                    <a href="{{ website.url | safe }}" title="Sitio web {{ patrocinador.nombre }}">
                    <img src="{{prefix}}/images/{{ patrocinador.pic}}" alt="{{ patrocinador.nombre }}" class="mx-auto w-60" /> 
                    </a>
                    </div> 
                    {% endfor %}
                </div>

                <div class="px-6 py-4">

                    
                    <p class="text-gray-600">{{ patrocinador.descripcion}}</p>

                    <p class="mb-3 mt-10 text-center"><span class="text-primary px-6 py-1 rounded-full text-sm  border border-primary">⭐️ Regalo sorteo ⭐️</span></p>
                

                    {% for aportacion in patrocinador.aportacion %}
                        <p class="text-gray-800 text-center text-xl leading-none mb-4 px-4 ">{{aportacion.nombre}}</p>
                    {% endfor%}
                    
                    {% for website in patrocinador.web %}
                    
                    <p class="text-center mt-10 mb-2"><a href="{{ website.url | safe }}" class="text-primary text-xl font-bold tracking-tight hover:underline">{{ website.dominio}}</a></p>    
                    
                    {% endfor %}
                
                    <ul class="flex justify-center mb-6">
                        {% for social in patrocinador.social %}

                        <li class="mx-2"><a href="{{ social.url | safe }}" title="{{patrocinador.nombre}} en {{social.red}}"><img src="{{prefix}}/images/{{social.red}}.svg" alt="{{patrocinador.nombre}} en {{social.red}}" class="w-5 h-5 inline" /></a></li>
                        {% endfor%}
                    </ul>

                </div>

        

            </div>
       
        {% endfor %}

  </div>
</div>




{% endblock %}



